<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Minesweeper</title>
    <meta name="description" content="Minesweeper game">

    <!-- vendor css -->
    <link rel="stylesheet" href="lib/normalize.css/normalize.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- app css -->
    <link rel="stylesheet" href="css/minesweeper.min.css">


    <!-- vendor js -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/lodash/dist/lodash.min.js"></script>
    <!-- app js -->
    <script src="js/main.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/cell.js"></script>
    <script src="js/game.js"></script>
  </head>

  <body ng-app="minesweeper" ng-controller="MainController" ng-cloak ng-init="theme = 'blue'"
        ng-class="{
          blue: theme === 'blue',
          pink: theme === 'pink',
          'blue-grey': theme === 'blue-grey'
        }">
    <div class="no-text-select" >

      <!-- STATS TOOLBAR -->
      <div class="toolbar" ng-class="{win: Game.gameWon === true, lose: Game.gameWon === false}">
        <div class="title">
          Minesweeper
        </div>
        <div class="counter bombs"><i class="fa fa-bomb"></i> {{Game.minesLeft}}</div>
        <div class="counter"><i class="material-icons">timer</i>{{Game.timer}}</div>

        <div class="color-select">
          <div class="toggle-blue" ng-click="theme = 'blue'">
          </div>
          <div class="toggle-pink" ng-click="theme = 'pink'">
          </div>
          <div class="toggle-blue-grey" ng-click="theme = 'blue-grey'">
          </div>
        </div>
      </div>
      <div class="button" ng-click="Game.startNewGame()" ng-class="{lose: Game.gameWon === false, win: Game.gameWon === true }">
        <span ng-if="Game.gameWon === false">
          <!-- <i  class="material-icons">mood_bad</i> -->
          Try again?
        </span>
        <span ng-if="Game.gameWon === true">
          <!-- <i  class="material-icons">mood_bad</i> -->
          Congratulations! Try again?
        </span>
      </div>

      <!--
        maybe do a minefield directive that has a difficulty and size attritute
        that takes a value from some kind of input, select or radio.

        ex.
        <minefield size="ctrl.size" diff="ctrl.diff"></minefield>
      -->
      <table id="minefield" ng-cloak>
        <tr ng-repeat="row in Game.cells">
          <td ng-repeat="cell in row">
            <div ng-class="{open:cell.isOpen, unclickable: cell.flag === flags.Mine || Game.gameWon!==null, blown: cell.isBlown || cell.isOpen && cell.hasMine}"
                 ng-click="onCellClick(cell)" ng-right-click="onCellRightClick(cell)">
                 <i class="material-icons" ng-if="cell.flag === 1">flag</i>
                 <i class="material-icons" ng-if="cell.flag === 2">help</i>
                 <i class="material-icons" ng-if="cell.isBlown">new_releases</i>
                 <!-- <i class="material-icons" ng-if="cell.isOpen && cell.hasMine">flag</i> -->
                 <span ng-if="cell.isOpen && !cell.hasMine">{{cell.minesAround > 0 ?  cell.minesAround : " " }}</span>
            </div>
          </td>
        </tr>
      </table>
      <div class="credits">
        Forked from minesweeper project by
        <a href="mailto:anri82@gmail.com">Anri Asaturov</a> /
        <a href="https://github.com/anri-asaturov/minesweeper/">Source on Github.</a>
      </div>
    </div>
    <!-- end container-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51100808-3', 'auto');
    ga('send', 'pageview');

    </script>
  </body>

</html>
